/* || General Styles */
:root {
  --clr-background: #FFFFFF;
  --clr-primary: #FFFFFF;
  --clr-font: rgb(0 0 0);
  --clr-font-lt: rgb(0 0 0 / .5) ; /* with alpha*/
  
  --font-size: 16px;
  --border-radius: 0.2em;
}

* {
  box-sizing: border-box;
}

body {
  font-family:'', sans-serif;
  font-size: var(--font-size);
  background-color: var(--clr-background);
}

/* || Typography */

/* || Utilities -- for styling choices you want to apply to a lot of elements << ref MDN*/

/* || Header */

/* || Main */
#gameBoard {
  border-collapse: separate;
}

.top-cell, 
.body-cell {
  position: relative;
  width: 50px;
  height: 50px;
}

.top-cell {
  border: 1px dotted gray;
}

.top-cell:hover {
  background-color: yellow;
}

.body-cell {
  border: 1px solid black;
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 100%;
}