/* || General Styles */
:root {
  /* custom colors require scss to be compiled, could not install sass or bootstrap
  files via npm */
  --clr-primary: rgba(88, 129, 233, 1);
  --clr-primary-lt: rgba(99, 142, 255, 1); 
  --clr-secondary: rgba(4, 0, 202, 1);
  --clr-wht-alpha: rgba(255, 255, 255, 0.9);
  --clr-highlight: rgba(218, 235, 168, 1);


  --clr-font: rgb(255, 255, 255);
  --clr-font-dark: rgba(4, 0, 202, 1);
  --clr-font-blk: rgb(0, 0, 0);
  
  --font-size: 16px;
  --border-radius: 0.2em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: var(--font-size);
  color: var(--clr-font); 
  background-color: var(--clr-primary);
}

/* || Typography */
h1,
h2,
h3,
h4 {
  font-family: 'Lilita One', sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h3 {
  font-size: 2rem;
}

/* || Utilities -- for styling choices you want to apply to a lot of elements << ref MDN*/
.hidden {
  display: none;
}

.btn {
  display: block;
  margin-inline: auto;
  font-family: 'Lilita One', sans-serif;
  text-transform: uppercase;
  color: var(--clr-font); 
  background-color: var(--clr-secondary);
}

.btn:hover {
  color: var(--clr-font-dark);
  background-color: var(--clr-highlight);
}

/* || Header */
header {
  padding: 1rem;
}

/* || Player Form */
.modal-header,
.modal-body,
.modal-footer {
  background-color: var(--clr-primary); 
}

form {
  font-family: Helvetica, sans-serif;
  /* background-color: var(--clr-primary-lt); */
}

form .player-input {
  /* border: 1px solid white; */
  background-color: var(--clr-primary-lt);
  border-radius: 10px;
}

form .player-name-input {
  width: 100%;
}

form .player-color-input {
  padding: 0;
}


form a {
  color: var(--clr-font);
  font-style: italic;
  font-size: smaller;
}

/* || Gameboard */
#gameBoard {
  position: relative;
  width: 100%;
  border-collapse: separate;
  aspect-ratio: 1/1;
}

.top-cell, 
.body-cell {
  position: relative;
  background-color: var(--clr-wht-alpha);
}

.top-cell {
  border: 1px dotted gray;
  height: 50px;
}

.top-cell:hover {
  background-color: yellow;
}

.body-cell {
  border: 1px solid black;
}

.piece {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

/* || GameOver */
.modal-body__gameOver {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-wht-alpha);
}

.modal-body__gameOver p {
  font-family: 'Lilita One', sans-serif;
  font-size: 2rem;
  color: var(--clr-font-dark);
  text-align: center;
}

#gameOverGif{
  width: 70%;
  border: 2px solid var(--clr-secondary);
}

